---
import Menu from '../components/Menu.astro';
import HeaderBrand from '../components/HeaderBrand.astro';

import { getMenuItems } from '../api/menus.js';

const mainMenuItems = await getMenuItems('main');

interface Props {
    hasBrand?: boolean;
}

const { hasBrand = true } = Astro.props;
---

<header class="bg-black text-white">
    <div class="max-w-wide mx-auto p-2">
        <nav class="main-nav flex items-center">
            {hasBrand ? <HeaderBrand /> : ''}
            {mainMenuItems ? <Menu items={mainMenuItems} /> : ''}
        </nav>
    </div>
</header>
