---
interface MenuItem {
    title: string;
    url: string;
    type: string;
}

interface Props {
    items: Array<MenuItem>;
}

const { items } = Astro.props;
---

<ul class="ml-auto flex items-center space-x-4">
    {
        items.map((item) => (
            <li>
                {item.type === 'external' ? (
                    <a target="_blank" href={item.url}>
                        {item.title}
                    </a>
                ) : (
                    <a href={item.url}>{item.title}</a>
                )}
            </li>
        ))
    }
</ul>
