---
interface Props {
    date?: string;
    categoryName: string;
    categoryUrl: string;
}

const { date, categoryName, categoryUrl } = Astro.props;
---

{
    date ? (
        <div>
            Published on {date} — in
            <a href={categoryUrl}>{categoryName}</a>
        </div>
    ) : (
        <div>[Not published]</div>
    )
}
