---
interface Props {
    date?: string;
    categoryName: string;
    categorySlug: string;
}

const { date, categoryName, categorySlug } = Astro.props;
---

{
    date ? (
        <div>
            Published on {date} — in
            <a href={`/blog/?category=${categorySlug}`}>{categoryName}</a>
        </div>
    ) : (
        <div>[Not published]</div>
    )
}
