---
import Menu from '../components/Menu.astro';
import HeaderBrand from '../components/HeaderBrand.astro';

import { getMenuItems } from '../api/menus.js';

import '../styles/base.css';

interface Props {
    title: string;
    hasHeaderBrand?: boolean;
}

const { title, hasHeaderBrand = true } = Astro.props;

const mainMenuItems = await getMenuItems('main');
const footerMenuItems = await getMenuItems('footer');
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>

    <body class="bg-white">
        <div class="flex flex-col min-h-screen">
            <header class="bg-black text-white">
                <div class="max-w-wide mx-auto p-2">
                    <nav class="main-nav flex items-center">
                        {hasHeaderBrand ? <HeaderBrand /> : ''}
                        {mainMenuItems ? <Menu items={mainMenuItems} /> : ''}
                    </nav>
                </div>
            </header>

            <main>
                <slot />
            </main>

            <div class="mt-16"></div>

            <footer class="mt-auto text-center">
                <div class="max-w-wide mx-auto p-2 text-gray-700">
                    <div class="flex flex-col lg:flex-row items-center justify-center space-x-4">
                        <span>Copyright © {new Date().getFullYear()} ACME inc.</span>

                        {footerMenuItems ? <Menu items={footerMenuItems} /> : ''}
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>
