---
import '../styles/base.css';

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>

    <body class="bg-white">
        <div class="flex flex-col min-h-screen">
            <header class="bg-black text-white">
                <div class="max-w-wide mx-auto p-2">
                    <nav class="main-nav flex items-center">
                        <!-- @todo: dynamic nav -->
                        <ul class="ml-auto flex items-center space-x-4">
                            <li>
                                <a href="/blog"> Blog</a>
                            </li>
                            <li>
                                <a href="/about"> About</a>
                            </li>
                            <li>
                                <a href="/contact"> Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>

            <main>
                <slot />
            </main>

            <div class="mt-16"></div>

            <footer class="mt-auto text-center">
                <div class="max-w-wide mx-auto p-2 text-gray-700">
                    <!-- @todo: dynamic footer -->
                    <div class="flex flex-col lg:flex-row items-center justify-center space-x-4">
                        <span>Copyright © 2023 ACME inc.</span>
                        <ul class="ml-auto flex items-center space-x-4">
                            <li>
                                <a href="/terms"> Terms &amp; Conditions</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>
