---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

import '../styles/base.css';

interface Props {
    title: string;
    hasHeaderBrand?: boolean;
    isPreview?: boolean;
}

const { title, hasHeaderBrand = true, isPreview = false } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <style is:inline>
            [x-cloak] {
                display: none;
            }
        </style>
    </head>

    <body
        class:list={{
            'bg-white': true,
            'is-preview': isPreview,
        }}
    >
        <div class="flex flex-col min-h-screen">
            <Header hasBrand={hasHeaderBrand} />

            <slot />

            <div class="mt-16"></div>

            <Footer />
        </div>
    </body>
</html>
