---
interface Props {
    to: string;
}

const { to } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="refresh" content={`0; url=${to}`} />
    </head>
    <body>
        Redirecting to <a href={to}>{to}</a>
    </body>
</html>
