---
import Layout from '../layouts/Layout.astro';
import PageContent from '../components/PageContent.jsx';

import { getPage, getPages } from '../api/pages';

export async function getStaticPaths() {
    const pages = await getPages();

    return pages.map(page => ({params: {slug: page.slug}}));
}

const { slug } = Astro.params;

const page = await getPage(slug);
---

<Layout title={page.title}>
    <main>
        <PageContent page={page} />
    </main>
</Layout>
