---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Links">
    <main class="p-8">
        Links

        <div class="text-blue-500 underline mt-4">
            <ul>
                <li><a href="/home">home</a></li>
                <li><a href="/blog">blog</a></li>
                <li><a href="/blog-post">blog-post</a></li>
                <li><a href="/about">about</a></li>
                <li><a href="/contact">contact</a></li>
            </ul>
        </div>
    </main>
</Layout>
