---
import Layout from '../../layouts/Layout.astro';

import { getPost, getPosts } from '../../api/posts';
import PostContent from '../../components/PostContent';

export async function getStaticPaths() {
    const posts = await getPosts();

    return posts.map(post => ({params: {slug: post.slug}}));
}

const { slug } = Astro.params;

const post = await getPost(slug);
---

<Layout title="Blog post">
    <main>
        <PostContent post={post} />
    </main>
</Layout>
