---
import Layout from '../../layouts/Layout.astro';
import PagePreviewContainer from '../../components/PagePreviewContainer.jsx';
---

<Layout title="Preview" isPreview={true}>
    <main>
        <PagePreviewContainer client:only />
    </main>
</Layout>
